.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 100%;
}

.form-label {
  margin-bottom: 0.2rem !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(225, 0, 255, 0.25) !important;
}

main {
  padding-bottom: 6rem;
  gap: 6rem;
}

h1 {
  max-width: 40rem;
  font-size: 4rem;
  font-weight: 700;
}

h4 {
  max-width: 45rem;
  font-size: 2rem;
  font-weight: 600;
}

button {
  font-size: 1.25rem;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
}

input,
textarea,
select {
  color: #111729 !important;
  resize: none;
  font-size: 1rem !important;
  padding: 1rem;
}

form {
  max-width: 60rem;
  padding: 1.5rem;
  background: rgba(205, 213, 224, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

select {
  background-image: url("../../../assets/Expand_down.svg");
  background-size: 1.5rem;
  color: #2596be;
}

button {
  padding: 1rem;
  font-weight: 600;
  color: #4036a9;
}

@media (max-width: 1024px) {
  h1 {
    max-width: 30rem;
    font-size: 3rem;
  }

  h4 {
    max-width: 35rem;
    font-size: 1.5rem;
  }
  form {
    max-width: 50rem;
  }
}

@media (max-width: 700px) {
  h1 {
    max-width: 20rem;
    font-size: 2rem;
  }

  h4 {
    max-width: 20rem;
    font-size: 1rem;
  }

  form {
    padding: 1rem;
    max-width: 25rem;
  }
}
